body {
    
    h2 {
        color: yellow;
    }
    b  {
        color: black;
        text-align: center;
    }
    h1 {
        text-align: center;
        color: red;
    }
    background-color: white;
}
img {
    width:  200px;
    height:  200px;
}